.collapsible {
    background-color: var(--gray);
    color: var(--dark);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.2s ease-in-out;
}

.active,
.collapsible:hover {
    background-color: var(--glee-blue-darker);
}

.collapsible:after {
    content: '\002B';
    color: var(--dark);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    transition: height 0.2s ease-out;
    background-color: #f1f1f1;
}